#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  #container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
  }

  #container a {
    text-decoration: none;
  }


  .ativado{
    font-weight: 600;
    border: 1px solid var(--ion-color-primary);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .desativado{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid transparent;
  }

  .img-descricaoempresa{
    overflow: hidden;
    padding: 0;
    text-align: center;
    border-radius: 4px;
    height: 120px;
  }

  .img-descricaoempresa img{
    height: 100%;
  }

  .titulo-descricaoempresa{
    text-align: center;
    color: #414141;
    font-weight: bold;
  }

  .card-descricaoempresa{
    background-color: rgb(251, 251, 251);
    padding: 15px 10px;
    border-radius: 8px;
    -webkit-box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
    -moz-box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
    box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
  }

  .fonte{
    font-family: Arial, sans-serif;
      font-size: 20px;
      color: #000000;
  }

  .cor-letra{
    color: #505800
  }

  .background{
    background-color: #494848;
  }

  .ops-menu{
    font-size: 20px;
  }