.fonte{
    font-family: Arial, sans-serif;
      font-size: 30px;
      color: #ff0000;
  }

  .cardapio-container {
    display: flex;
    align-items: flex-end;
    height: 100%;

  }
  .cardapio {
    --background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 11px;
 }
 .nome-cardapio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-weight: bold;
}

.nome-cardapio-wrapper .label {
color: black;
margin-top: 4px;
}

.imagem-empresa{
  border-radius: 15px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.ion-justify-content-center {
  justify-content: center;
}

ion-text {
  font-weight: bold;
  text-align: center;
}

.borda-input {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  margin: 0 auto;
}

