.perfil-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .botao-voltar{
    color: black;
    font-weight: bold;
  }

  .escrita {
    margin-top: -70px;
    margin-left: 43px;
    top: 5px;

  }

  .tamanho-escrita {
    font-size: 16px;
    color: white;
  }

  .botao-cancela{
    width: 35px;
    height: 35px;

  }

  .col-botao-cancela{
    left: 249px;
    top: 20px;
  }

  .botao-confirma{
    width: 35px;
    height: 35px;

  }

  .col-botao-confirma{
    left: 55px;
    top: 20px;
  }

  .personaliza-card {
    max-width: 300px;
    max-height: 80px;
    margin: 0 auto;
    background-color: #3D4A58;
    border-radius: 40px;
  }

  .icon-col {
    display: flex;
    align-items: center;
  }

  .icon-men-card {
    position: relative;
    display: flex;
    align-items: center;
    right: 10px;
    top: -45px;
    color: white;
  }

  .border-right {
    position: absolute;
    top: 50%;
    right: 84%;
    transform: translateY(-50%);
    width: 2px;
    height: 130%;
    background-color: white;
  }

  .icon-wrapper-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  .perfil-icon {
    font-size: 32px;
  }

  .icon-wrapper-perfil .label {
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
  }

  .perfil-container {
    display: flex;
    align-items: flex-end;
    height: 100%;

  }

  .perfil {
    --background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 11px;

  }
  .perfil:hover {
    --background: transparent;

  }

  .perfil:active {
    --background: transparent;

  }


  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-weight: bold;

  }

  .icon-wrapper ion-icon {
    display: flex;
  flex-direction: column;
  align-items: center;

  }

  .icon-wrapper .label {
    color: black;
  margin-top: 8px;
  }
