.icones {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  height: 50vh;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
